* {
  margin: 0;
  padding: 0;
  /* For webkit */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

p {
  font-weight: 500;
}

:root {
  --col1: #d64045;
  --col2: #e9fff9;
  --col3: #9ed8db;
  --col4: #467599;
  --col5: #1d3354;
  --height-of-navbar: 186.48px;
}

.justify {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.adjust {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.extra {
  padding-left: 20% !important;
  padding-right: 20% !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.extra > img {
  max-height: 150px;
  justify-self: center;
}

.extra h2 {
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.2em;
}

.extra .button {
  text-transform: capitalize !important;
  padding: 0.2em 2.2em;
  font-weight: 400;
  border: solid 2px;
}

.split {
  grid-template-columns: 1fr 1fr !important;
  justify-content: center;
  align-items: center;
}

.list-style-remove {
  list-style-type: none;
}

.accent {
  color: var(--col4);
}

/* Navigation bar */
.burger {
  display: none;
  cursor: pointer;
  padding: 8.5px 4px;
  z-index: 3;
}
.burger div {
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 1px;
  margin: 6px;
  transition: all 0.3s ease;
}
.toggle .l1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .l2 {
  opacity: 0;
}
.toggle .l3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.navbar {
  position: fixed;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.137) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.13) 0px 8px 16px -8px;
  z-index: 10;
  background-color: white;
}

.navcontent {
  position: relative;
}

.navlink {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: black;
}

.to-the-right {
  position: absolute;
  right: 0;
}
.contact-topnav {
  display: inline-grid;
  grid-template-columns: 40px 40px 40px;
  gap: 0.25em;
  padding-top: 0.5em;
}

.contact-topnav li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-topnav img {
  width: 30px;
}

.logowrapper {
  display: grid;
  grid-template-columns: 130px auto;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 20px;
}

.logowrapper img {
  width: 130px;
  border-radius: 100px;
  border: solid 5px #84a98c;
}

.logowrapper h1 {
  font-size: 37px;
  color: var(--col4);
  height: 100%;
  display: grid;
  align-items: center;
  padding-left: 20px;
}

.mainnav {
  display: grid;
  grid-template-columns: repeat(5, fit-content(1em));
  justify-content: center;
  gap: 1em;
}

.mainnav li {
  height: auto;
  padding: 7px 10px;
}

.mainnav li a {
  padding: 7px 10px;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
}

.mainnav li:hover a {
  background-color: var(--col1);
  color: white;
}

.headerwrapper {
  padding-top: var(--height-of-navbar);
  height: 651px;
  width: 100%;
  position: relative;
}

.headerwrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hoverbox {
  position: absolute;
  grid-template-columns: 1fr 1fr;
  top: 65%;
  left: 75%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.63);
  padding: 2em 1em;
}

.hoverbox p {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  width: 350px;
}

.hoverbox span {
  display: grid;
  justify-content: center;
}

/************************
BUTTON 
************************/
.red {
  background-color: var(--col1) !important;
  color: white !important;
  border: none !important;
}

.blue {
  background-color: var(--col3) !important;
  color: black;
  border: none !important;
}
.button {
  text-decoration: none;
  margin-top: 10px;
  padding: 0.5em 2em;
  border-radius: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  border: solid black 1px;
  background-color: white;
}

.center-button {
  display: grid;
  justify-content: center;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 0.3em;
}

.gridtwocolumn,
.split {
  display: grid;
  grid-template-columns: auto auto;
}

.special-adjust {
  display: grid;
  row-gap: 30px;
}

.special-adjust * {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif !important;
}
.region {
  position: relative;
}

.left,
.right {
  position: absolute;
  width: 95%;
  height: 100%;
  z-index: -2;
}

.left {
  background-color: var(--col3);
}
.right {
  background-color: var(--col1);
  right: 0;
}
