:root {
    --b: #ae9d8c;
    --g: #208550;
    --dg: #033e1f;
    --d: #231f20;
    --o: #f78e57;
    --w: #ffff;
    --shadow: -1px 1px 0 var(--w),
                1px 1px 0 var(--w),
                1px -1px 0 var(--w),
                -1px -1px 0 var(--w);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--b);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

img {
    max-width: 100%;
}

.container {
    width: 700px;
    margin: 0 auto 0 auto;
}

/* Header */
.header {
    display: flex;
    background-image: url('img/background_header.jpg');
    width: 100%;
    height: 166px;
}

.title {
    font-size: 43px;
    font-family: 'Catamaran', sans-serif;
    color: var(--d);
    text-shadow: var(--shadow);
    margin: 90px auto auto auto;
}

/*Navigation Contents*/
.navcontent {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.navcontentleft {
    position: relative;
    float: left;
    width: 163px;
    background-image: url('img/wood_bg.jpg');
}

.navcontentright {
    position: relative;
    float: right;
    width: 537px;
}

/* Navigation Bar */
.topnav {
    display: flex;
    overflow: hidden;
    background-color: var(--d);
    justify-content: center;
}

.topnav a {
    float: left;
    color: var(--w);
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 12px;
}

.topnav a:hover {
    background-color: var(--o);
    color: var(--d);
}

.topnav .icon {
    display: none;
    fill: var(--w);
}

/* Navigation Special Column */
.secondtitle {
    display: flex;
    background-color: var(--g);
    height: 78px;
}
.secondtitle h1 {
    color: var(--w);
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.insidecontentleft {
    padding: 10px;
    text-align: center;
}

.insidecontentleft p {
    color: var(--w);
}

.insidecontentleft img {
    margin: 10px;
}

.special {
    background-color: var(--w);
    padding: 12px;
    text-transform: uppercase;
}

.special h2 {
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.special a {
    display: block;
    text-decoration: none;
    color: var(--dg);
    padding: 18px;
}

.special a:hover {
    text-decoration: underline;
}

/* Body Content */
.bodycontent {
    background-color: var(--w);
    padding: 15px;
}

.content_title {
    text-align: center;
    padding: 10px;
}

.content_title h3 {
    color: var(--dg);
}

.content {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.content h2 {
    text-transform: uppercase;
    font-size: 18px;
}

.content h3 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 16px;
}

/*------vertical dividers------*/
.vertical_div {
    position: relative;
    width: 3%;
}

.greenl {
    float: left;
    border-left: 4px solid var(--dg);
    height: 270px;
    margin-right: 5px;
}
.orangel {
    float: left;
    border-left: 4px solid var(--o);
    height: 270px;
}
/*------end of vertical dividers------*/

.contentleft {
    position: relative;
    float: left;
    width: 56%;
    padding-right: 20px;
}

.contentright {
    position: relative;
    float: right;
    width: 37%;
    background-image: url('img/paper.png');
    background-repeat: no-repeat;
    background-size: auto;
    height: 260px;
    width: 201px;
    padding: 23px;
}

.imgcontent {
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}

.imgcontentleft img {
    border: 10px solid var(--dg);
}

.imgcontentright {
    margin: auto;
}

/* Footer */
.footer {
    padding: 10px;
    background-color:var(--d);
    color: var(--w);
}

.footer p {
    font-size: 13px;
}

.foottop {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.foottop h2 {
    font-size: 17px;
    text-transform: uppercase;
}

.footleft {
    position: relative;
    float: left;
    width: 50%;
}

.footright {
    position: relative;
    float: right;
    width: 50%;
    text-align: right;
}

.footer a {
    text-decoration: none;
    color: var(--w)
}

.footbottom {
    display: flex;
}

.footbottom path {
    fill: var(--w);
}
