:root {
  --c0: #000000;
  --c1: #005270;
  --c2: #44c7f4;
  --c3: #8dd7f7;
  --c4: #c6e9fa;
  --c5: white;
  --gradient: linear-gradient(
    132deg,
    var(--c0) 0%,
    var(--c1) 59%,
    var(--c2) 100%
  );
  --w: var(--c0);
  --shadow: -1px 1px 0 var(--w), 1px 1px 0 var(--w), 1px -1px 0 var(--w),
    -1px -1px 0 var(--w);
  --radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--c5);
  font-family: "Spartan", sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  position: relative;
}

img {
  max-width: 1920px;
}

section {
  height: 100vh;
}

/* Preloader */
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: var(--gradient);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.preload img {
  height: 100px;
  position: absolute;
  top: 35%;
  animation: logoloader 1s ease infinite alternate;
}

.preload p {
  color: var(--c4);
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.loading {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  bottom: 40%;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes logoloader {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-50px);
  }
}
/* Header */
.home-header {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  background: var(--c1) url("img/bg.jpg") no-repeat center;
  background-size: cover;
}

.logo {
  display: flex;
  margin: auto;
  padding-top: 48px;
  width: 300px;
}

.header-nav {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 26vh;
  justify-content: center;
}

.header-nav a {
  position: relative;
  text-decoration: none;
  color: var(--c5);
  font-weight: bold;
  font-size: 100px;
  padding: 10px;
}

.nav-spacer {
  display: flex;
  width: 30px;
  height: 15px;
  background: var(--c2);
  margin: auto 30px;
}

.underline {
  position: absolute;
  background-color: var(--c2);
  bottom: 0;
  width: 0;
  height: 10px;
  transition: width 300ms linear;
}

.header-nav a:hover .underline {
  width: 95%;
}

/*-----------Button--------------*/

/* Discover section */
.adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c5);
}

.content {
  overflow: hidden;
  width: 80vw;
}

.qc-banner svg path {
  stroke: var(--c2);
  animation-name: gradient-qc;
  transition: ease 0.3s;
}

.qc-banner svg path:hover {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  stroke-width: 10px;
  fill: var(--c3);
}

/* People Places Progress Selection Area */
.ppp {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.box {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 25vw;
  border-radius: var(--radius);
  transition: 0.2s;
  transform: scale(0.98);
}

.box p {
  position: absolute;
  bottom: 0;
  color: var(--c5);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vw;
  text-shadow: var(--shadow);
}

.people {
  background-image: url("img/P2015935.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale();
}

.places {
  background-image: url("img/IMG-2097-2.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale();
}

.progress {
  background-image: url("img/i-80_presentation.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale();
}

.ppp:hover .box {
  transform: scale(0.98);
}

.ppp .box:hover {
  filter: none;
  transform: scale(1);
  box-shadow: #142235 0px 10px 40px -12px;
}

/* About Us Section */
.about-us {
  padding-bottom: 100px;
}

.us {
  display: flex;
  overflow: hidden;
}

.us-left {
  margin-top: 30px;
  padding-right: 30px;
  flex-grow: 1;
}

.us-left img {
  width: 30vw;
  border-radius: var(--radius);
}

.us-right {
  flex-grow: 3;
  padding: 10px;
}

#section-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

/*------------ Animation -----------*/
@keyframes gradient-qc {
  0% {
    stroke: var(--c4);
  }
  50% {
    stroke: var(--c3);
  }
  75% {
    stroke: var(--c2);
  }
  80% {
    stroke: var(--c3);
  }
  100% {
    stroke: var(--c4);
  }
}

/*--------------Sticky Nav---------------*/
#sticky-nav {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  background-color: var(--c5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px 10px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px 10px;
  bottom: -100px;
  width: 100%;
  height: 80px;
  transition: bottom ease 0.5s;
}

#sticky-nav-menu {
  display: flex;
  overflow: hidden;
  margin: auto;
  justify-content: center;
}

#sticky-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 5px 7px 4px 7px;
  color: var(--c0);
  font-weight: bold;
  border: solid white;
  border-radius: 30px;
  transition: ease 0.3s;
}

#sticky-nav-logo {
  width: 174px;
  padding-left: 31px;
  padding-top: 24px;
}

#contact {
  display: flex;
  overflow: hidden;
  justify-content: right;
  margin: auto;
}
#nav-color {
  background: var(--c2);
  height: 10px;
  width: 10px;
  margin: auto 5px;
}

.burger {
  display: none;
  cursor: pointer;
  padding: 8.5px 4px;
}

.burger div {
  background-color: var(--c0);
  width: 25px;
  height: 2px;
  margin: 5px;
  transition: all 0.3s ease;
}
.social-media-nav {
  display: flex;
}
.social-media-nav a {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.social-media-nav a svg {
  width: 30px;
  height: 30px;
}
.mobile-sticky-nav {
  display: none;
}

#sticky-nav a:hover {
  fill: var(--c2);
  border-color: var(--c2);
  color: var(--c2);
}

#sticky-nav a#active {
  color: var(--c2);
}
/* ------------ 1632px wide version of the site ------------ */
@media only screen and (max-width: 1632px) {
  .header-nav a {
    font-size: 80px;
  }
}

/* ------------ 1330px wide version of the site ------------ */

@media only screen and (max-width: 1330px) {
  .header-nav a {
    font-size: 60px;
  }
}

/* ------------ 960px version of the site ------------ */

@media only screen and (max-width: 960px) {
  .header-nav {
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
  }

  .nav-spacer {
    width: 0;
    height: 0;
  }

  .header-nav a {
    font-size: 80px;
    padding: 30px;
  }

  .header-nav a:hover .underline {
    width: 80%;
  }

  .us {
    display: block;
  }

  .us-left {
    padding: 0;
  }

  .us-right {
    padding: 0;
  }

  #sticky-nav {
    grid-template-columns: 1fr 1fr;
  }
  #sticky-nav-menu,
  #contact {
    display: none;
  }

  .burger {
    display: block;
    grid-column: 2;
    margin: auto 10% auto auto;
  }

  /* Mobile Sticky Nav */
  .mobile-sticky-nav {
    display: block;
    position: fixed;
    background: var(--gradient);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    padding: 30px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
  }

  .mobile-sticky-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-sticky-nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    opacity: 0;
  }

  .social-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social-media a svg {
    fill: white;
    width: 40px;
    height: 40px;
  }

  .mobile-sticky-nav-menu a:hover {
    color: var(--c2);
  }

  .mobile-sticky-nav-menu #active {
    color: var(--c2);
  }
}

.nav-active {
  transform: translateY(0%);
}

@keyframes mobileNavFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .l1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .l2 {
  opacity: 0;
}
.toggle .l3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
/* ------------ 960px wide version of the site ------------ */

@media only screen and (max-height: 960px) and (max-width: 960px) {
  .header-nav {
    margin-top: 10vh;
  }
  .header-nav a {
    font-size: 50px;
    padding: 20px;
  }
  .adjust {
    align-items: none;
    height: auto;
    padding-top: 50px;
  }
  .ppp {
    flex-wrap: wrap;
    gap: 20px;
  }

  .box {
    width: 80vw;
  }

  .box p {
    font-size: 50px;
  }

  .qc-banner {
    width: 200%;
  }

  .us-left img {
    width: 80vw;
  }
}
