* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #000000;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
  }
  
  h1, h2, p {
    margin-top: 0;
  }
  
  h1 {
    font-size: 2.5em;
    line-height: 1;
  }
  
  h2 {
    font-size: 2em;
    line-height: 1;
    font-weight: 300;
  }
  
  .script {
    font-family: 'Cantata One', serif;
    font-style: italic;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  header {
    height: 40vh;
    max-height: 300px;
    min-height: 200px;
    background: url("https://gustafsonart.com/images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  }
  
  header .logo {
    position: absolute;
    bottom: 1em;
    width: 100%;
  }
  
  header .logo img {
    display: block;
    margin: 0 auto;
    width: 75%;
    max-width: 750px;
  }
  
  nav {
      background: #f9e01a;
  }

  ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 0;
      margin: auto;
      max-width: 60em;
      list-style-type: none;
  }
  li {
      margin: auto;
      padding: 1em 0;
  }

  .navlink a {
      text-decoration: none;
      color: rgb(51, 51, 51);
  }

  .content {
      margin: auto;
      padding: 3em 1em 0 1em;
      max-width: 60em;
      line-height: 1.5em;
  }

  .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
  }

  .container {
      margin: 0 3em 0 3em;
  }
  .container img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  footer {
      display: flex;
      margin: 1em;
      justify-content: flex-end;
  }
  
  @media (max-width: 769px) {
    ul {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  
      .content {
        /* Your code goes here! */
      }
      
      .container {
        /* Your code goes here! */
      }
      
      .grid {
        /* Your code goes here! */
        display: block;
    }
        .container img {
            margin-bottom: 1em;
        }
  }
  
  @media (max-width: 900px) {
    .grid {
      /* Your code goes here! */
        grid-template-columns: 1fr 1fr;
    }
  }
  
  .watercolors {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: watercolors;
  }
  
  .site-title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: site-title;
  }
  
  .site-title h1 {
    font-weight: 300;
  }
  
  .logos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: logos
  }
  
  footer p {
    text-align: right;
  }
  
  footer a, p a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
  }
  
  footer a:after, p a:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background: #f9e01a;
    bottom: -1px;
    right: -1px;
    left: 1px;
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
  }
  
  footer a:hover, p a:hover {
    color: #000000;
  }
  
  footer a:hover:after, p a:hover:after {
    height: 100%;
    bottom: 0px;
    z-index: -1;
  }