@charset "utf-8";
/* CSS Document */

html, body {
    max-width:1600px;
    overflow-x:hidden;
    margin:0;
    font-family: 'Spartan', sans-serif;
}

html {
    margin:auto;
}

body {
    position: relative;
}

h1, h2, a {
    font-family:'Gloria Hallelujah', serif;
}

h1 {
    font-size:3vw;
    font-weight:normal;
    margin:2.5% 0;
    line-height:5vw;
}

h2 {
    font-size:2.5vw;
}

h3 {
    color:#1B4079;
    font-size:2.25vw;
    margin:1% 2.5% 0;
}

h4 {
    font-size:13.5px;
    margin:0;
}

p {
    font-size:1.5vw;
}

header {
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    flex-direction:column;
    position:absolute;
    right:2.5%;
    top:1%;
}

/* start navigation */
#nav{
	max-width:1600px;
	z-index:10;
	float:right;
	font-size:15px;
	height:100%;
    width: 100%;
}

#nav > a{
	display: none;
}

#nav li{
	position: relative;
	list-style-position:inside;
	list-style-type:none;
}
#nav li a{
    /*color:black;*/
	/*display: block;*/
	text-decoration:none;
}

/* first level */

#nav > ul{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	width:75%;
	margin:0;
	padding:0.5% 12.5%;
}
#nav > ul > li{
	padding:4px 8px;
    width: 140px;
	height: 100%;
	display:inline-block;
}
#nav > ul > li > a{
	/*height: 100%;*/
	text-align: center;
}
#nav > ul > li:not( :last-child ) > a{
	
}

#nav > ul > li:hover > a,
#nav > ul:not( :hover ) > li.active > a{
	
}

	/* second level */

#nav li ul{
	background-color:#ccc;
	display: none;
	position: absolute;
	top: 100%;
	margin-left:0 !important;
	padding-left:0 !important;
	width:170px;
	text-align:left;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#nav li:hover ul{
	display: block;
	left: 0;
	right: 0;
}
#nav li:not( :first-child ):hover ul{
	left: -1px;
}
#nav li ul a{
	color:#000;
	padding: 0.75em; /* 15 (20) */
}
/* end navigation */

.banner {
    width:100%;
    position:relative;
    height:42.5vw;
    background-size:100%;
    background-repeat:no-repeat;
    background-image:url('http://webgeeksrus.com/test/maxthedog/images/hero.png');
    margin-top:5%;
}

.banner > div {
    margin-left:5%;
}

.banner div a {
    text-decoration:none;
}

.banner h1 {
    margin:0;
}

.button {
    /* Your code goes here! */
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid white;
    border-radius: 30px;
}

.green {
    /* Your code goes here! */
    display: flex;
    justify-content: center;
    background: #93c02d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color ease-in 0.2s;
}

.white-button {
    background: #987750;
    box-shadow: white 0px 3px 8px;

}
/* Your code goes here! Don't forget the :hover states! */

.red-button:hover {
    background: red;
}

.green-button:hover {
    background: green;
}

.yellow-button:hover {
    background: yellow;
    color: black;
}

.blue-button:hover {
    background: blue;
}

.white-button:hover {
    background: white;
    color: black;
    border-color: black;
}

.float {
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    right:32%;
    bottom:18%;
    color:white;
}

.float h2 {
    margin-bottom:0;
}