:root {
  --light-gold: #ead189;
  --gold: #d5a314;
  --navy: #00295d;
  --base: #b2b2b2;
}
/* Navigation bar */
.burger {
  display: none;
  cursor: pointer;
  padding: 8px 8px;
  z-index: 10;
  background-color: var(--navy);
  border-radius: 10px;
  border: solid var(--light-gold);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.burger div {
  background-color: var(--light-gold);
  width: 25px;
  height: 4px;
  margin: 5px;
  transition: all 0.3s ease;
}
.toggle .l1 {
  transform: rotate(-45deg) translate(-6.5px, 6.5px);
}
.toggle .l2 {
  opacity: 0;
}
.toggle .l3 {
  transform: rotate(45deg) translate(-6.5px, -6.5px);
}

@media screen and (max-width: 820px) {
  .mainnav {
    display: none;
  }
  .burger {
    display: block;
  }
  .navbar-toggle {
    position: absolute;
    top: 17px;
    right: 20px;
  }
  .active {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
}
