* {
  margin: 0;
  padding: 0;
  /* For webkit */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*font-family: "Balthazar", serif;
  font-family: "Lato", sans-serif;*/
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --theme: #1f6657;
  --bright-green: #32a23c;
  --border-style: solid 40px var(--bright-green);
}

.justify {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.adjust {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

/*Navigation bar*/
nav {
  background-color: #32a23c;
  background-image: url(../img/turf.jfif);
}
.navcontent {
  display: grid;
  justify-content: center;
  border-left: var(--border-style);
  border-right: var(--border-style);
  max-width: 800px;
  padding: 0.2em;
  background-color: white;
}

.navcontent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainnav {
  display: grid;
  grid-template-columns: repeat(7, fit-content(10em));
  justify-content: center;
  gap: 1.5em;
}

.navlink {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-logo {
  display: grid;
  justify-self: center;
  padding: 0.5em;
}

.nav-logo img {
  height: 70px;
}

.headerwrapper {
  width: 100%;
  position: relative;
  display: grid;
  background-color: var(--theme);
}

.headerwrapper img {
  max-width: 1000px;
  justify-self: center;
}

.headerwrapper .full-screen {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.two-columns-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.offside {
  grid-template-columns: 250px auto !important;
}

.player-names {
  padding: 10px;
  gap: 0.7em;
}

.number {
  justify-self: center;
}

.roster {
  background-color: var(--theme);
  color: white;
  padding: 10px;
}

.bordered {
  border: 2px solid white;
}

.roster h1{
  text-align: center;
}

.centered-line {
  overflow: hidden;
  text-align: center;
}

.centered-line::before, 
.centered-line::after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.centered-line::before {
  right: 0.5em;
  margin-left: -50%;
}

.centered-line::after {
  left: 0.5em;
  margin-right: -50%;
}

.mission {
  background-color: #ccc;
  text-align: center;
  display: grid;
}

.mission-padding {
  justify-self: center;
  max-width: 400px;
}