* {
  margin: 0;
  padding: 0;
  /* For webkit */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*font-family: "Balthazar", serif;
  font-family: "Lato", sans-serif;*/
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --theme: #1f6657;
  --bright-green: #32a23c;
  --border-style: solid 40px var(--bright-green);
}

.justify {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.adjust {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

/*Navigation bar*/
.navcontent {
  display: grid;
  justify-content: center;
  border-left: var(--border-style);
  border-right: var(--border-style);
  max-width: 800px;
  padding: 0.2em;
}

.navcontent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainnav {
  display: grid;
  grid-template-columns: repeat(7, fit-content(10em));
  justify-content: center;
  gap: 1.5em;
}

.navlink {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-logo {
  display: grid;
  justify-self: center;
  padding: 0.5em;
}

.nav-logo img {
  height: 70px;
}