@charset "utf-8";
/* CSS Document */

/*
	The following section of the file lays out the CSS for a basic site. It assumes a left navigation - see the other files for a top navigation - and an 1100px wide site as the baseline. 
*/
:root {
	--change: #4c5e94;
	--bg: #f1f1f1;
}
html, body{
	margin:0px !important;
	padding:0px !important;	
}

body{
	/* Your code goes here! */
	font-family: 'Pontano Sans';
}
.container{
	width:1100px;
	margin:0 auto 0 auto;
	background-color:#3300FF;
	overflow:hidden;	
}
img{
	max-width: 100%;
}
.header{
	width:1100px;
	margin:0 auto;
	height:269px;
	background-image:url(http://lrcrealestateinc.com/images/header1.png);
}

#banner{
	margin-top:-58px;	
}

.contact{
	float:right;
	text-align:right;
	color:#143368;
	padding-right:60px;
	font-size:16px;
}

.contact h1, .contact h2, .contact h3{
	font-weight:normal;
	font-style:italic;
	font-size:40px;
	margin-bottom:0px !important;
	margin-top:14px !important;
	padding-bottom:0px !important;
}

.contact p{
	margin:6px 0px !important;	
}

.white-bg{
	/*background-color:???;*/
	background-color: var(--bg);
	width:100%;
	margin-top:154px;
	display:table;
	margin-bottom:25px;
}

.wrapper{
	width:1100px;
	position:relative;
	z-index:5;
	margin:-75px auto 0px auto;
}

#toggleNav a{
	/*color:???;*/
	color: var(--change);
}

.blue{
	/* Your code goes here! */
	color: var(--change);
}

header, h1, h2, h3, strong, span{
	/* Your code goes here! */
}

h3 {
	text-align: center;
}

.center {
	text-align: center;
}

.content{
	position:relative;
	float:right;
	width:68%;
	background-color:#fff;
	margin:-50px 15px 15px 10px;
	-webkit-box-shadow: 10px -17px 9px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px -17px 9px -9px rgba(0,0,0,0.75);
box-shadow: 10px -17px 9px -9px rgba(0,0,0,0.75);
}

.content p, .content h1, .content h2, .content h3{
	padding:0px 8px !important;
}

.nomargin{
	/* Your code goes here! */
	margin: 0;
}

.nopadding{
	/* Your code goes here! */
	padding: 0;
}

/* ------------ 960 pixel wide version of the site ------------ */

@media only screen and (min-width:966px) and (max-width:1105px){
	.container{
		width:960px;
	}
	
	.header{
		background-image:url(http://lrcrealestateinc.com/images/header2.png);
		height:251px;
		width:960px;	
	}
	.wrapper{
		width:960px;	
	}
	.content{
		width:69%;
	}
	#nav{
		margin-left:6%;	
	}
}

/* ------------ 800 pixel wide version of the site ------------ */

@media only screen and (min-width:806px) and (max-width:965px){
	.container{
		width:800px;
	}
	
	.header{
		background-image:url(http://lrcrealestateinc.com/images/header3.png);
		height:235px;
		width:800px;
	}
	
	#nav{
		margin-left:4%;
		margin-top:-45px;	
	}
	
	.wrapper{
		width:800px;
	}
	
	.content{
		width:71%;
	}
	
	.contentright{
		margin:12px 8px 12px 0px;
		padding:12px;
	}
}